body {
  margin: 0;
  padding: 0;
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  font-weight: bold;
}

.game-ending-label {
  text-align: center;
  font-size: 24px;
  color: white;
  padding: 20px;
}


.grid {
  width: 150px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
}

.grid__cell {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.grid__cell:nth-child(1), .grid__cell:nth-child(2), .grid__cell:nth-child(3) {
  border-top: none;
}

.grid__cell:nth-child(1), .grid__cell:nth-child(4), .grid__cell:nth-child(7) {
  border-left: none;
}

.grid__cell:nth-child(3), .grid__cell:nth-child(6), .grid__cell:nth-child(9) {
  border-right: none;
}

.grid__cell:nth-child(7), .grid__cell:nth-child(8), .grid__cell:nth-child(9) {
  border-bottom: none;
}

button {
  height: 50px;
  width: 150px;
  margin-top: 10px;
  background: #f9d924;
  color: #222222;
  text-transform: uppercase;
  font-size: 16px;
  outline: none;
  border: none;
}

